/*task-8的工作列表*/


/*content*/
/*位置*/
.content {
    width: 1000px;
    margin: 0 auto;
}

.position {
    height: 5.4rem;
    padding: 2rem 0;
    border-bottom: solid 1px #d0d6d9;

}

.position a {
    color: #333;

}

.position span {
    color: #29b078;
}

/*职位方向*/
.job-type {
    margin-top: 2rem;
}

.job-type li {
    display: inline;
}

.job-type li a, .job-type li a:hover {
    color: #333;
    padding: .2rem .2rem;
    margin: 0 1rem;
    text-decoration: none;
}

.job-type li a:hover {
    color: #fff;
    background-color: #29b078;
    padding: .2rem .2rem;
}

.job-type-title, .job-type-title:hover {
    color: #999;
    text-decoration: none;
}

.job-list {
    width: auto;
    height: auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-list-title {
    margin: 2rem 0;
    font-weight: 800;
    border-bottom: solid 1px #d0d6d9;
    padding-bottom: 2rem;
}

.box-row {
    height: 9rem;
    /*background-color: #6aff4a;*/
}

.head-img img {
    height: 9rem;
    width: 9rem;
    float: left;
}

.head-doc {
    width: 14.6rem;
    height: 9rem;
    /*background-color: #29bde0;*/
    float: right;
}

.head-doc-title {
    width: 14rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.head-doc-text {
    word-wrap: break-word;
    /*background-color: #ccc;*/
    width: 15rem;
    font-size: 1.2rem;
}

/*表格*/
table {
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #edf1f2;
    font-size: 1.2rem;
}

.table-block {
    padding: .4rem 0;
}

.table-block-big {
    padding: 1rem 0;
    font-size: 1.4rem;
}

.table-block-star span {
    color: #ff5c00;
    padding: .6rem 0 .8rem 1rem;
}

.table-block-big span {
    color: #f01400;
    padding-left: 1rem;
}

.table-block-up {
    padding: .8rem 0 .8rem 0;
}

.table-block-up span {
    color: #ff5c00;
}

/*问本特效*/
.job-list-block, .job-list-hover {
    position: relative;
    height: 28rem;
    width: 24rem;
    overflow: hidden;
    margin-bottom: 4rem;
    float: left;
}

.job-list-hover {
    top: 100%;
    background-color: #000;
    color: rgba(255, 255, 255, 1);
    transition: .5s;
    padding: 2rem 2rem;
}

.job-list-block:hover .job-list-hover {
    position: absolute;
    opacity: 0.8;
    top: 0;
}

.job-list-hover-title {
    text-align: center;
}