* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1100px) {
    .box {
        width: 1100px;
        height: 856px;
        margin: 0 auto;
        background: url("../../image/index_img/bg.jpg") no-repeat;
        background-size: cover;
    }

    .tasks-css {
        position: relative;
        top: 500px;
        width: 960px;
        height: 100px;
        margin: 0 auto;
    }

    .tasks-js {
        position: relative;
        top: 500px;
        width: 960px;
        height: 100px;
        margin: 0 auto;
    }

    .tasks-title {
        text-align: center;
        font-size: 18px;
        color: #f9f9f9;
        font-weight: 800;
        border-bottom: solid 1px #fff;
        padding-bottom: 10px;
    }

}

@media (max-width: 1100px) {
    .box {
        width: 800px;
        height: 600px;
        margin: 0 auto;
        background: url("../../image/index_img/bg.jpg") no-repeat;
        background-size: cover;
        /*background-color: #e95f45;*/
    }

    .tasks-css,
    .tasks-js {
        width: 30%;
        height: 50%;
        position: relative;
        top: 50%;
    }

    .tasks-js {
        margin-right: 16%;
        float: right;
    }

    .tasks-css {
        margin-left: 16%;
        float: left;

    }

    .tasks-js button,
    .tasks-css button {
        height: 14%;
        width: 40%;
    }

    .tasks-title {
        text-align: center;
        font-size: 18px;
        color: #4CAE4C;
        font-weight: 800;
        border-bottom: solid 1px #4CAE4C;
        padding-bottom: 10px;
    }
}

