*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
li{
    list-style: none;
}
/*header部分*/
.header{
    position: fixed;
    height: 4rem;
    left: 0;
    right:0;
    background-color: #29bde0;
    padding: 1rem;
    z-index: 2;
}
.header-home{
    height: 2rem;
    width: 2rem;
    background:url("../../image/task_7_img/11.png") no-repeat center;
    background-size: cover;
    float: left;
}

.header-help{
    height: 2rem;
    width: 2rem;
    background:url("../../image/task_7_img/12.png") no-repeat center;
    background-size: cover;
    float: right;
}
.title{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left:50%;
    margin-left: -3rem;
}
/*内容部分*/
.content{
    width: 100%;
    height: auto;
    background-color: #29bde0;
    padding: 6rem 4rem 0 4rem;
}
.content-img{
    position: relative;
    height: 12rem;
    width: 18rem;
    background:url("../../image/task_7_img/13.png") no-repeat center;
    background-size: cover;
    left: 50%;
    margin-left: -9rem;
}
.result{
    color: #FFF;
    left:50%;
    top:8rem;
    margin-left: -4.4rem;
    font-size: 2.6rem;
    position: absolute;
}

.brief-result{
    font-size: 1.6rem;
    color: #FFC865;
    padding: 1em 0 1rem 0;
}

.detailed-result-p{
    color: #FFF;
}
.detailed-result{
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: #29bde0;
}
.doc{
    font-size: 1.2rem;
    color: #ffffff;
}
.detailed-result li{
    display: inline;
    padding-right: 0.8rem;
}

.day{
    padding-left:4rem;
    font-size: 1.2rem;
    color: #A6A6A6;
    background-color: #FFF;
    border-bottom: solid 1px #A6A6A6;
}
.day-number{
    color: black;
}
.none{
    height: 8rem;
    position: relative;
    bottom: 0;
}

.footer{
    position: fixed;
    height: 5rem;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(153, 223, 240, 0.5);
    /*background-color: #CCEFF7;*/
    padding: 0.8rem 4%;
    /*opacity: 0.8;*/
}
.again{
    position: relative;
    float: left;
    width: 48%;
    height: 100%;
    background-color: #f66f6f;
    border: 2px solid #f66f6f;
    border-radius: 4px;
}
.update{
    position: relative;
    float: right;
    width: 48%;
    height: 100%;
    background-color: #Fbb435;
    border: 2px solid #Fbb435;
    border-radius: 4px;
}