* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

li {
    list-style: none;
}

.header {
    position: fixed;
    height: 2rem;
    left: 0;
    right: 0;
    background-color: #34BEDE;
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.header-menu {
    position: absolute;
    background:url("../../image/task_7_img/8.png") no-repeat center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.header-title {
    position: absolute;
    left: 50%;
    margin-left: -1.6rem;
    font-size: 1.6rem;
}

.header-close {
    position: absolute;
    right: 1rem;
    background:url("../../image/task_7_img/9.png") no-repeat center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.infos {
    position: relative;
    height: 3.4rem;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: #BAE9F4;
}

.info-top {
    position: relative;
    padding: 1rem 0 1rem 2rem;
    right: 0;
    left: 0;
    font-size: 1.2rem;
    height: 3.2rem;
    background-color: #BAE9F4;
    color: #5B6060;
}

.info-bottom {
    position: relative;
    padding: 1rem 0 1rem 2rem;
    right: 0;
    left: 0;
    font-size: 1.2rem;
    height: 3.2rem;
    background-color: #34BEDE;
    color: #D9F3F9;
}

.info-top p, .info-bottom p {
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis; /*文字溢出的部分隐藏并用省略号代替*/
    white-space: nowrap; /*文本不自动换行*/
}

.audio-button {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background:url("../../image/task_7_img/10.png") no-repeat center;
    background-size: cover;
    float: right;
    right: 2rem;
    top: -0.4rem;
}

.content {
    width: 100%;
    background-color: #34BEDE;
    position: relative;
    top: 4rem;
}

.portraits {
    padding-top: 1rem;
    left: 0;
    right: 0;
    background-color: #34BEDE;
}

.portraits li {
    float: right;
    width: 33.3%;
    height: 33.3vw;
}

.job, .number, .skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job, .skill {
    width: 70%;
    height: 48%;
    margin: 0 15% 0 15%;
    background-color: #F5C97B;
}

.number {
    height: 20%;
    width: 70%;
    margin: 0 15% 0 15%;
    background-color: #83B09A;

}

/*边框..*/
.job {
    border-left: 1vw solid #FFF;
    border-right: 1vw solid #FFF;
    border-top: 1vw solid #FFF;
}

.number {
    border-left: 1vw solid #FFF;
    border-right: 1vw solid #FFF;
    border-bottom: 1vw solid #FFF;
}

li img{
    display: none;
}
li:hover img{
    display: block;
}

.skill {
    height: 28%;
    width: 76%;
    background-color: #34BEDE;
}

.skill-img {
    width: 70%;
    padding: 1vw;
}


.none {
    position: relative;
    height: 8rem;
    width: 100%;
    background-color: #34BEDE;
    display: flex;
    justify-content: flex-end;
}

.footer {
    position: fixed;
    height: 4rem;
    padding: 1rem 2rem 1rem 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5ac0ce;
}

.footer-button {
    height: 4rem;
    width: 100%;
    background-color: #FBB435;
    border: 2px solid #FBB435;
    color: #FFFFFF;
    font-size: 1.8rem;
}

