/*头部和脚部*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.menu li, .content-li-count, .content-li {
    list-style: none;
}



a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.login-row {
    position: relative;
    height: 3.2rem;
    left: 0;
    right: 0;
    padding: .8rem 0 .8rem 0;
    width: 1000px;
    margin: 0 auto;
    /*background-color: #cccccc;*/
}

.mobile {
    width: 20rem;
    color: #42b683;
    float: left;
}

.login-ui {
    height: 1.4rem;
    width: 6.2rem;
    float: right;
}

.qq div {
    height: 1.4rem;
    width: 1.4rem;
    background: url("../../image/task_8_img/index_img/3.jpg") no-repeat center;
    background-size: cover;
    margin-right: 1rem;
    float: left;
}

.vx div {
    float: left;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 1rem;
    background: url("../../image/task_8_img/index_img/1.jpg") no-repeat center;
    background-size: cover;
}

.xl div {
    float: left;
    height: 1.4rem;
    width: 1.4rem;
    background: url("../../image/task_8_img/index_img/4.jpg") no-repeat center;
    background-size: cover;
}

.header {
    height: 4rem;
    font-size: 1.6rem;
    background-color: #29b078;
}
.logo{
    height: 4rem;
    width: 10rem;
    float: left;
    background:url("../../image/task_8_img/index_img/logo.png") no-repeat center;
    background-size: 8rem 4rem;
}

.menu {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.header li {
    display: inline;
    padding: 1rem 1rem 1rem 1rem;
    float: right;
}

.header li:hover {
    box-shadow: 0 4px 0 #FFF;
    text-decoration: none;
}

/*.menu a ,.menu a:hover,.menu a:active,.menu a:focus{*/
    /*text-decoration: none;*/
/*}*/

.header li a {
    color: #e1e5e7;
    text-decoration: none;
}

/*脚部*/
.footer {
    clear: both;
    margin-top: 2rem;
    height: auto;
    background-color: #26a26f;
    padding: 1rem 0 1rem 0;
}
.footer-main{
    width: 1000px;
    margin: 0 auto;
}

.footer-text-left {
    height: 6rem;
    width: 16rem;
    float: left;
    margin-right: 2rem;
}

.footer-text-right {
    height: 6rem;
    float: left;
}

.border {
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-title-left {
    color: #eaf4ef;
    padding-bottom: 2.4rem;
}

.text-title-right {
    color: #eaf4ef;
    padding-bottom: 1rem;
}

.footer-text-right-text {
    width: 18rem;
}

.footer-text-right-text p {
    padding: 0 .5rem .5rem 0;
    float: left;
}

.footer-info {
    clear: both;
    text-align: center;
    border-top: solid 1px #32c086;
    margin-top: 12rem;
    padding-top: 1rem;
    color: #dfeee7;
}

/*颜色*/
.footer a ,.footer a:hover,.footer a:active,.footer a:focus{
    color: #eaf4ef;
    text-decoration: none;
}

.link li, .link a {
    color: #999999;
}

.footer-img-block {
    height: 9rem;
    width: 8rem;
    float: right;
    /*margin-right: 10rem;*/
    text-align: center;
}

.footer-img-block p {
    color: #fff;
}

.footer-img {
    height: 8rem;
    width: 8rem;
    background: url("../../image/task_8_img/index_img/2.png") no-repeat center;
    background-size: cover;
}