/*task-8的index*/
.run-img {
    height: 24rem;
    width: 100%;
    background-color: #4cae4c;
}

.content-li-count {
    position: relative;
    height: auto;
    /*background-color: #3c763d;*/
    margin-top: 4rem;
    padding: 0 8rem 0 8rem;
    /*flex布局精髓*/
    display: flex;
    /*主轴方向,排序方式从左往右*/
    flex-direction: row;
    /*是否换行*/
    flex-wrap: wrap;
    /*沿着主轴的对齐方式*/
    justify-content: space-between;
}

.content-ui-gx, .content-ui-gf, .content-ui-rm, .content-ui-count {
    height: 10rem;
    width: 16rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /*background-color: yellow;*/
}

.content-ui img{
    position: relative;
    height: auto;
    width: 6rem;
    left: 50%;
    margin-left: -3rem;
}

.content-ui-count-block {
    position: relative;
    top: 4rem;
    height: 4rem;
}

.content-ui-title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

.content-li-count span {
    color: #b6b6b6;
}

.count-p {
    position: relative;
    font-size: 1.6rem;
    padding-left: 2rem;
    background: url("../../image/task_8_img/index_img/8.jpg") no-repeat left;
    background-size: 1.5rem 1.5rem;
    color: #26A26F;
}


.content-li-title {
    height: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
    color: #333;
}

.study-method-row {
    height: 2.4rem;
    width: 22rem;
    margin-top: 2rem;
    padding: 1rem 0 1rem 0;
}

.content-li ,.link{
    padding: 0 8rem 0 8rem;
}

.content-li-study{
    padding: 0 8rem 0 8rem;
}
/*布局类*/
.content-li-body {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.study-method-number{
    height: 2.6rem;
    width: 2.6rem;
    text-align: center;
    color: #29b078;
    font-size: 1.6rem;
    border: solid 1px #e6e5e6;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    float: left;
}
.study-ui{
    height: 2rem;
    width: 2rem;
    background:url("../../image/task_8_img/index_img/9.jpg") no-repeat center;
    background-size: cover;
    float: right;
}

.study-method-text{
    float: left;
    width: 12.8rem;
    margin-left: 2rem;
    color: #999;
}
.student {
    height: 20rem;
    width: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:solid 1px #eee;
    color: #333;
}

.student-body{
    margin-top: 2rem;
    display: flex;
    /*主轴方向,排序方式从左往右*/
    flex-direction: row;
    /*是否换行*/
    flex-wrap: wrap;
    /*沿着主轴的对齐方式*/
    justify-content: space-between;
}
.head-img{
    position: relative;
    left:50%;
    margin-left: -4rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.student-name{
    text-align: center;
    font-size: 1.6rem;

}
.student-info{
    position: relative;
    top: 1rem;
    color: #999;
}
.cirs{
    height: 0.5rem;
    width: 4rem;
    margin: 0 auto ;
}
.cir-3,
.cir-2,
.cir-4
{
    float: left;
    margin-right: 0.2rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    border: solid #aaa 1px;
}
.cir-1{
    float: left;
    margin-right: 0.2rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #29b078;
}

.link-li{
    display: flex;
    /*主轴方向,排序方式从左往右*/
    flex-direction: row;
    /*是否换行*/
    flex-wrap: wrap;
    /*沿着主轴的对齐方式*/
    justify-content: space-between;
}
.link li{
    margin-left: 2rem;
    margin-right: 2rem;
}

.link{
    border-top: solid 2px #d6d6d6;
}